.hero-text {
    margin-bottom: 10vh;
}  

.hero-text h4 {
    margin-bottom: -5px;
}

.hero-text h1 {
    margin-left: -2px;
}

.hero-text .button {
    border-radius: 0.5em;
    margin-top: 1rem;
    margin-right: 8px;
}