.project-card {
    @include card-container(
        $white, $black, 0, 0, 0
    );
    width: auto;
    text-align: center;
    .card-section {
        padding-top: 16px;
        padding-bottom: 1rem;
    }
    h5 {
        margin: 0;
    }
}

.card-thumbnail { 
    height: 200px;
    width: inherit;
    background-color: aliceblue;
    border-radius: 2rem;
}


