.project-card {
    @include card-container(
        $white, $black, 0, 0, 0
    );
    width: auto;
    text-align: center;
}

.card-thumbnail { 
    height: 200px;
    width: inherit;
    background-color: aliceblue;
    border-radius: 2rem;
}


