// .popup {
//   display: inline-flex;
// }

.orbit {
  height: inherit !important;
  padding: 2px;
  transform: translateX(-20px);
}

.orbit-container {
  min-height: 250px;

}

.orbit-bullets {
  bottom:-10px;
}

#project-description {
  border-radius: 1em; 
  width: 800px;
}

// TODO: Switch color-palette to brand colors.
$foundation-palette: (
  primary: #1779ba, 
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

body {
  height: 100vh;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: $global-padding;
}

.social {
  position: absolute;
  bottom: 5vh;
  margin-left: 2px;
}

.social .header {
  font-size: 16px;
  margin-bottom: 0.25em;
}

.social .icons a {
  font-size: 32px;
  padding-right: 5px;
}